{{ form_start(form,{attr:{class:'filter'}}) }}

    {{ form_row(form.q) }}

    <H4>Catégorie</H4>

    {{ form_row(form.categories) }}

     <H4>Prix</H4>

            <div class="row">

                <div class="col-md-6">

                    {{ form_row(form.min) }}

                </div>

                <div class="col-md-6">

                    {{ form_row(form.max) }}

                </div>
            </div>

        <div id="price-slider" data-min="{{ min }}" data-max="{{ max }}"></div>

     <H4>Promo</H4>

    {{ form_row(form.promo) }}

    <button type="submit" class="btn btn-primary w-100">Filtrer</button>

{{ form_end(form) }}